<%case from%>
<%when 'show_users'%>
$("#action_zone").html("<%= escape_javascript(render :partial=>'messages/show_users.html.erb' )%>")
<%when 'get_messages'%>
$("#action_zone").html("<%= escape_javascript(render :partial=>'messages/get_messages.html.erb',:locals=>{:current_user=>current_user})%>")
<%when 'send_messages'%>
$('#chat_panel_messages').append("<label style='width:100%;'><label style='float:right; background-color: aliceblue; padding:5px 15px 5px 15px; border-radius: 5px;word-wrap: break-word; max-width:80%;'><span><%= @new_msg.context%></span></label><span style='color: grey;font-size: x-small;float: right;'><%=@new_msg.created_at.strftime('%d-%m-%y %H:%M')%></span></label>");
$('#message_text_box').val('');
$('#last_msg_time').val('<%=@new_msg.created_at%>')
$('#chat_panel').animate({ scrollTop: $('#chat_panel').prop("scrollHeight")}, 1000);
setTimeout(function() {
				$('#refresh_chat').click();
			}, 5000);
<%when 'get_latest_messages'%>
<%if !@messages.nil? and !@messages.empty?%>
$('#chat_panel_messages').append("<%= escape_javascript(render :partial=>'messages/latest_msg_update.html.erb',:locals=>{:current_user=>current_user}) %>");
$('#last_msg_time').val('<%=@messages.last.created_at%>');
$('#chat_panel').animate({ scrollTop: $('#chat_panel').prop("scrollHeight")}, 1000);
<%end%>
setTimeout(function() {
				$('#refresh_chat').click();
			}, 5000);
<%when 'get_old_messages'%>
<%if !@messages.nil? and !@messages.empty?%>
$('#chat_panel_messages').prepend("<%= escape_javascript(render :partial=>'messages/latest_msg_update.html.erb',:locals=>{:current_user=>current_user}) %>");
$('#top_msg_id').val('<%=@messages.first.id%>');
<%if @old_msg_count>0%>
$('#old_messsages_control').html("<div id='old_msg_count' style='background-color: #76ea76; padding:5px 15px 5px 15px; border-radius: 5px;'><%=@old_msg_count%> Messages</div><div id='previous_msgs_div' style='background-color: lightgreen; padding:5px 15px 5px 15px; border-radius: 5px;'><label style='cursor: pointer;color: blue' onclick='get_old_messages();'><b>Load Previous Messages</b></label></div>");
<%else%>
$('#old_messsages_control').html("");
<%end%>
<%end%>
setTimeout(function() {
				$('#refresh_chat').click();
			}, 5000);
<%end%>