<%case from%>
<%when 'show'%>
$("#comments_modal_body").html("<%= escape_javascript(render :partial=>'comments/show.html.erb' )%>")
$("#comments_modal_footer").html("<%= escape_javascript(render :partial=>'comments/comment_box.html.erb', :locals=>{:post_id=>post_id, :post_class=>post_class} )%>")
$('#comments_modal_body').animate({ scrollTop: $('#comments_modal_body').prop("scrollHeight")}, 1000);
<%when 'create'%>
if($("#comments_modal_body").find('tbody').length==0)
{
	$("#comments_modal_body").html('<table style="width:100%"><tbody></tbody></table>')
}
$("#comments_modal_body").find('tbody').append("<%= escape_javascript(render :partial=>'comments/new_comment.html.erb' )%>")
$("#comments_modal_footer").html("<%= escape_javascript(render :partial=>'comments/comment_box.html.erb', :locals=>{:post_id=>post_id, :post_class=>post_class} )%>")
$('#comments_modal_body').animate({ scrollTop: $('#comments_modal_body').prop("scrollHeight")}, 1000);
$('#comment_count_<%=post_id%>_<%=post_class%>').html('<%=@new_comm_count%>')
<%when 'delete'%>
$(".row_comment_<%=@comment.id%>").hide();
$('#comment_count_<%=@post.post_id%>_<%=@post.post_type%>').html('<%=@new_comm_count%>')
<%when 'old_comments'%>
$("#comments_modal_body").find('tbody').prepend("<%= escape_javascript(render :partial=>'comments/show_old_comments.html.erb' )%>")
<%if @old_comments_count>0%>
$('#oldest_comment_id').val('<%=@comments.first.id%>');
$('#old_comments_count').html('<%=@old_comments_count%>');
<%else%>
$('#old_comments_label').hide();
<%end%>
<%end%>