<%@comments.each do |comment|%>
	<tr class="row_comment_<%=comment.id%>">
		<% if comment.created_by.to_i==session[:current_user]["id"].to_i%>
			<% 
			   label_color="antiquewhite"
			%>
		<%else%>
			<% 
			   label_color="aliceblue"
			%>
		<%end%>
		<td style="width: 10%">
			<%
			user=comment.user
			profile_pic=user.profile_img.url
			profile_pic_gender=""%>
			<%if user.sex=='Male'%>
				<%profile_pic_gender=asset_path('profile_pic/male.png')%>
			<%elsif user.sex=='Female'%>
				<%profile_pic_gender=asset_path('profile_pic/female.png')%>
			<%else%>
				<%profile_pic_gender=asset_path('profile_pic/other.png')%>
			<%end%>
			<style type="text/css">
				#user_pic_comment_<%=user.sex%>
				{
				background-image:url('<%=profile_pic_gender%>');
				width: 100%;
				height: 75px;
				background-size: 100%;
				background-repeat: no-repeat;
				}
			</style>
			<div title="<%=user.name%>" id="user_pic_comment_<%=user.sex%>" style="border-radius: 50%;border-color: black;border-style: dotted;float: left;">
				<img src="<%=profile_pic%>" alt="" style="border-radius: 50%;height:100%;float:left; width: 100% ">
			</div>
		</td>
		<td style="width:90%; background-color: <%=label_color%>;">
		<label style=" padding:5px 15px 5px 15px; border-radius: 5px;word-wrap: break-word; width:80%;">
			<span style="max-width: 80%;word-wrap: break-word;"><%=comment.description%></span>
		</label>
		
		</td>
	</tr>
	<tr class="row_comment_<%=comment.id%>">
		<td></td>
		<td>
			<span style="color: grey;font-size: x-small;float:right;">
			<%if comment.created_by.to_i==session[:current_user]["id"].to_i%>
				<img src="<%=asset_path('delete_button.png')%>" alt="Delete Comment" height="20" onclick="delete_item('comments','delete','<%=comment.id%>')" style="cursor: pointer;"> &nbsp; 
			<%end%>
			<%=comment.created_at.strftime("%d-%m-%y %H:%M")%></span>
		</td>
	</tr>
	<tr class="row_comment_<%=comment.id%>"><td><hr></td><td><hr></td></tr>
<%end%>