<style type="text/css">
#timeline_content::-webkit-scrollbar {
width: 10px;
background-color:black;
border-radius:10px;
}
/* Track */
#timeline_content::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
#timeline_content::-webkit-scrollbar-thumb {
background: grey; 
border-radius: 10px;
}
/* Handle on hover */
#timeline_content::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}

#cafe_timeline_contents::-webkit-scrollbar {
width: 10px;
background-color:black;
border-radius:10px;
}
/* Track */
#cafe_timeline_contents::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
#cafe_timeline_contents::-webkit-scrollbar-thumb {
background: grey; 
border-radius: 10px;
}
/* Handle on hover */
#cafe_timeline_contents::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}

</style>
<div id="createPostModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" style="background: #382222 none repeat scroll 0% 0%; border-radius: 7px; display: block; padding-left: 17px;max-width: 750px;height: auto;max-height:550px;left: 22%;top: 13%;z-index: -1">
		<div style=""><button type="button" class="close" id="close_post_modal" data-dismiss="modal" aria-label="Close" title="Close" style="margin-right: 10px;margin-top: 5px;background-color: grey;padding: 5px 5px 5px 5px;border-radius: 50%;" onclick="$('#createPostModal').css('z-index','-1')"> <span aria-hidden="true">×</span></button></div>
		<div id="create_post_modal_body" style="padding:30px 30px 30px 30px;">
		<center>
		<div id="post_form_options">
			<div class="col-lg-4 col-md-6 mb-4" onclick="get_create_form('blogs');">
	              <div class="card h-100" style="background: transparent;">
	                <a><img class="card-img-top" src="<%=asset_path('posts_icon/blogs.png')%>" alt=""></a>
	                <div class="card-body">
	                  <h4 class="card-title" style="color: white">
                    Create Blog
	                  </h4>
	                  
	                </div>
	              </div>
	        </div>
	    </div>
	    </center>
	    <div id="create_form_area"></div>
	    
		</div>
</div>
<div id="viewPostDetailsModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" style="background: white none repeat scroll 0% 0%; border-radius: 7px; display: block; padding-left: 17px;max-width: 750px;height: auto;max-height:550px;left: 22%;top: 13%;z-index: -1">
		<div style=""><button type="button" class="close" id="close_post_detail_modal" data-dismiss="modal" aria-label="Close" title="Close" style="margin-right: 10px;margin-top: 5px;background-color: grey;padding: 5px 5px 5px 5px;border-radius: 50%;" onclick="$('#viewPostDetailsModal').css('z-index','-1')"> <span aria-hidden="true">×</span></button></div>
		<div id="post_detail_modal_header" style="color:blue;font-size: x-large;padding: 5px 0px 0px 15px;"></div>
		<hr>
		<div id="post_detail_modal_body" style="height: 75%;padding: 0 9px 0 5px;">
	    
		</div>
		<hr>
		<div id="post_detail_modal_footer"></div>
</div>
<div id="viewCommentsModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" style="background: white none repeat scroll 0% 0%; border-radius: 7px; display: block; padding-left: 17px;max-width: 750px;height: auto;max-height:550px;left: 22%;top: 7%;z-index: -1">
		<div style=""><button type="button" class="close" id="close_post_detail_modal" data-dismiss="modal" aria-label="Close" title="Close" style="margin-right: 10px;margin-top: 5px;background-color: grey;padding: 5px 5px 5px 5px;border-radius: 50%;" onclick="$('#viewCommentsModal').css('z-index','-1')"> <span aria-hidden="true">×</span></button></div>
		<div id="comments_modal_header" style="color:blue;font-size: x-large;padding: 5px 0px 0px 15px;"></div>
		<hr>
		<div id="comments_modal_body" style="height: 57%;padding: 0 9px 0 5px;overflow-y: scroll;">
	    
		</div>
		<hr>
		<div id="comments_modal_footer" style="height:20%"></div>
</div>
<div style="height:100%;background-image: url('<%=asset_path('homepage_background2.jpg')%>');background-repeat: no-repeat;
  background-size: 100% 100%;">
<div>
<div style="width:80%;float:left;">
	<%cafe_logo=@cafe.cafe_logo.url%>
	<%if !cafe_logo.nil?%>
	<%logo_img=cafe_logo
	fallback_logo=asset_path("default_logos/cafe_logo_fallback.jpg")%>
	<%else%>
	<%logo_img=asset_path("coffee_mug.png")
	fallback_logo=""%>
	<%end%>
	<style type="text/css">
		#cafe_logo
		{
		background-image:url('<%=fallback_logo%>');
		background-size: 100%;
		background-repeat: no-repeat;
		display:inline-block;
		}
	</style>
	<span style="width:20%"><img class="" src="<%=logo_img%>" id="cafe_logo" alt="" width="150" height="100" style="padding: 5px 5px 5px 5px;border-radius: 20%;">
	</span>
	<span style="width: 80%;float: right;margin-top: 7px;">
	<label style="color:darkblue;font-size: xx-large;">
		<%= link_to(@cafe.name,{:controller=>"cafes",:action=>"show",:cafe_id=>@cafe.id},:id=>"cafe_name_link_#{@cafe.id}",:style=>"color:darkblue;",:onclick=>"custom_loader('cafe_timeline_contents','sliding_discs_up','Loading Timeline')",:method=>"post",:remote=>true)%>
	</label>
	<br>
	<label style="color:grey;"><i><%=@cafe.description%></i></label>
	</span>
</div>
<br>
<div style="width:20%;float:right;">
	<span style="background-color: green; padding: 5px 15px 5px 15px; border-radius: 5px;float:right;margin-right: 30px;cursor: pointer;color:white;" data-toggle="modal" data-target="#createPostModal" href="#"  aria-expanded="false" id="new_post" onclick="$('#post_form_options').show();$('#create_form_area').html('');$('#createPostModal').css('z-index','')"><b>New Post</b></span>
</div>
</div>
<br>
<hr style="margin-top: 75px;">
<div id="cafe_timeline_contents" style=";overflow-y: scroll;">
	<div id="timeline_content" style="width:75%;float:left;overflow: scroll;">
		<%=render :partial=>"setup_timeline.html.erb"%>
	</div>
	<div id="cafe_interaction_div" style="width:25%;float:right;">
		<div id="members_widget">
			<%=render :partial=>"member_widget_timeline.html.erb"%>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
	function get_create_form(controller)
	{
		$('#post_form_options').hide(); 
		custom_loader('create_form_area','dna','Getting '+controller,'white');
		$.ajax({
			type:"get",
			url: controller+"/new"
		});
	}
	function delete_item(controller,method,id,classname)
	{
		$.ajax({
			type:"post",
			url: controller+"/"+method+"?id="+id+"&classname="+classname
		})
	}
	function load_old_comments(post_id)
	{
		last_msg_id=$('#oldest_comment_id').val();
		$.ajax({
			type:"post",
			url:"comments/old_comments?postId="+post_id+"&last_msg_id="+last_msg_id
		})
	}
</script>
<script type="text/javascript">
	$('#timeline_content').css('height',($(window).height()-210))
	$('#cafe_timeline_contents').css('height',($(window).height()-210))
</script>