<%if !@posts.nil? and !@posts.empty?%>
<%@posts.each do |post|%>
<div id="post_<%=post.class.name%>_<%=post.id%>" style="padding: 5px 10px 5px 10px;">
	<div id="post_title">
		<label style="color:blue;font-size: larger"><i><b><%=post.title%></b></i></label>
		<label>&nbsp; <i><b>by:</b></i></label>
		<label style="color:ivory;"><%=post.user.name%></label>
	</div>
	<div id="post_description" style="width:100%;overflow: scroll">
		<label><%=post.description.html_safe%>
		</label>
	</div>
</div>
<hr>
<%end%>
<%end%>