<style type="text/css">
.post_description_iframe
{
background-image:url('<%=asset_path("post_background.jpg")%>');
width: 100%;
background-size: 100%;
background-repeat: no-repeat;
box-shadow: 7px 7px;
}
</style>
<%if !@posts.nil? and !@posts.empty?%>
<%@posts.each do |post|%>
<div id="post_<%=post.class.name%>_<%=post.id%>" style="padding: 5px 10px 5px 10px;">
	<div id="post_title">
		<label style="color:blue;font-size: larger"><i><b><%=post.title%></b></i></label>
		<label>&nbsp; <i><b>by:</b></i></label>
		<label style="color:ivory;"><%=post.user.name%></label>
	</div>
	<div id="post_description_<%=post.class.name%>_<%=post.id%>" style="width:100%;">
		
	</div>
	<script type="text/javascript">
			var iframe=document.createElement('iframe');
			iframe.src='data:text/html;charset=utf-8,'+encodeURI('<%=post.description.strip.html_safe%>');
			$('#post_description_<%=post.class.name%>_<%=post.id%>').html(iframe);
			$('#post_description_<%=post.class.name%>_<%=post.id%>').find('iframe').css('width','100%').css('border-style','dotted').addClass('post_description_iframe');
		</script>
</div>
<hr>
<%end%>
<%end%>